.name{
   background: green;
    width: 150px;
    height: 150px;
    margin: auto;
}
 strong{
     display: block;
    vertical-align: middle;
    text-align: center;
    font-size: 25px;
    color:red;
}